= simple_form_for [@course, @lecture] do |f|
  ul.text-danger
    - @lecture.errors.full_messages.each do |m|
      li = m

  = f.input :name
  = f.input :plain
  = f.input :hometask
  = f.input :litterature

  = f.button :submit

javascript:
  $('#lecture_plain').froalaEditor({
    height: 200,
    paragraphFormat: {
      N: 'Normal',
      H5: 'Heading',
      PRE: 'Code'
    },
    pastePlain: true
  }),
  $('#lecture_hometask').froalaEditor({
    height: 200,
    paragraphFormat: {
      N: 'Normal',
      H5: 'Heading',
      PRE: 'Code'
    },
    pastePlain: true
  })
  $('#lecture_litterature').froalaEditor({
    linkAlwaysBlank: true,
    height: 200,
    paragraphFormat: {
      N: 'Normal',
      H5: 'Heading',
      PRE: 'Code'
    },
    pastePlain: true
  })