= simple_form_for([@post, @comment]) do |f|
  = f.input :text, label: false, rows: 4
  - if @comment.post && @comment.post.user == current_user
    = f.input :post_closed, as: :boolean, class: 'btn btn-primary'
  = f.button :submit

javascript:
  $('#comment_text').froalaEditor({
    height: 100,
    paragraphFormat: {
      N: 'Normal',
      H5: 'Heading',
      PRE: 'Code'
    },
    pastePlain: true
  })